.few-line{
    border-left: 8px solid tomato;
    height: 200px;
    border-right: 25px;
}
section{
    display: flex;
    margin-bottom: 130px;
}
.simple{
    color: orange;
}
.flow-width{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}
.flow-width img{
    width: 80%;
}
.flow-width p{
    font-size: 20px;
}
.button{
        color: white;
        font-size: 20px;
        text-decoration: none;
        background-color: rgb(192, 78, 78);
        padding: 15px 35px;
        border-radius: 5px;
}
.another-flow-width{
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
}
.few-flow-width-one{
    background-color: #a5d0da;
    padding: 3%;
    font-family: verdana;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}
.few-flow-width-two{
    background-color: #dfc7d6;
    padding: 3%;
    font-family: verdana;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px; 
}
.few-flow-width-three{
    background-color: #cec8b6;
    padding: 3%;
    font-family: verdana;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}
.few-third-page{
    width: 25%;
    margin-left: 10%;
    font-size: 30px;
    font-family: Verdana;
}
.few-third-page p{
    font-size: 20px;
}
.few-flow-four{
    padding-left: 10%;
    padding-right: 5%;
    
}
.few-flow-four{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.few-flow-four p{
    font-size: 20px;
}

.few-flow-five{
    padding-right: 10%;
    padding-left: 10%;

}
.few-flow-five{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.few-flow-five p{
    font-size: 20px;
}


#another-simple{
    color: orange;
}
.last-page{
    background-color: black;
    background-size: 600px 100px cover;
    width: 100%;
    padding: 50px;
    margin: 5px;
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 30px;    
}
footer{
    font-family: initial;
    font-size: 25px;
}